body{
	font-size: 18px;/*update*/
	color:#333333 ;
	background-color: #F5F5F5;
	font-family: "Roboto", "Noto Sans Myanmar", serif;
/*    font-family: "Arial", "Helvetica", "Times New Roman", sans-serif;*/
line-height: 1.6; /*update*/
}
#header-nav{
	background-color: #333333;
	border-radius: 0;
	border:0;
/*	padding-left: 30px;/*update*/
}
#logo-img {
	background: url('../images/python-logo-generic.svg') no-repeat;
	width: 338px;
	height: 100px;
	margin: 10px 15px 10px 0;
	background-size: contain; /*update*/
}

.navbar-brand { 
/*	padding-top: 40px; */
justify-content: center;
display: flex; /* This aligns the items side by side */ 
gap: 2px; /* Space between the links*/
}
/*.navbar-brand h1{
	font-family: "Montserrat", sans-serif;
	color:#FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}*/
.navbar-brand a:nth-child(1){
	font-family: "Noto Sans Myanmar", serif;
	font-size: 15px;
}
.navbar-brand a { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	text-decoration: none; 
	padding: 10px; 
	border-radius: 5px; 
	border: 1px solid #FFD43B;
	color: #333333; 
	background-color: #FFFFFF;
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
	width: 50px; /* Set the width */ 
	height: 35px; /* Set the height */
	font-size: 16px;
	box-shadow: 
	0 4px 8px rgba(255, 255, 255, 0.3), /* Outer light shadow */ 
	0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand a:hover, .navbar-brand a:focus{
	background-color: #FFD700;/*#34495E;/* Slightly darker gold on hover */
	text-decoration: none;
	color: #333333;
	border-color: #306998;
	box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4), /* Outer light shadow */ 
	0 4px 8px rgba(0, 0, 0, 0.6);	
}

.navbar-brand a.active { 
	background-color: #007BFF; 
	border-color: #306998;
	color: #FFFFFF; 
	box-shadow:  0 8px 16px rgba(255, 255, 255, 0.5), /* Outer light shadow */ 
	0 4px 8px rgba(0, 0, 0, 0.7);
}

#nav-list{
	margin-top: 10px;
/*	margin-top:50px;/*update*/
}
#nav-list a{
	color:#FFFFFF;
	text-align: center;
}
#nav-list a:hover{
	background-color: #306998;
}
#nav-list a span{
/*	font-size: 1.8em;*/ /* glyphicon font-size */
font-size: 1.5em;/*update 1.5em of 18px*/
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #F5F5F5;
	margin-right: 0px;/*update by me to navbar-toggole to align at right side*/
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -50px; /*-30px; update by me to header space not to change in x-screen size*/
}
/* END HEADER */

/* FOOTER */
.panel-footer {
	margin-top: 30px;
	/*padding-top: 15px; /*35px;*/
/*	padding-bottom: 35px;/*30px;*/
background-color:#FFD43B ;
border-top:0;
padding: 0px 0px 35px 0px;
}
.panel-footer div:nth-child(1){
	background-color:#FFEB7D;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.panel-footer hr{
	margin-top: 0px;
}
footer a{
	margin: 0 20px;
	font-size: 1.2em;
	color:#333333 ;
}
footer a:hover {
	color:#333333 ;
}
#footer-note{
	font-family: "Gloria Hallelujah", cursive;
	color: #306998;
	font-size: .9em;

}
/* END FOOTER */

/* CONTENT */

h1, h2, h3 {
	font-weight: bold; 
}

h1 {
	font-size: 2.5em; /* Adjust as needed */
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}
section h3 a{
	color: #335566;
}

p {
	font-size: 1em; /* Standard paragraph size */
}

#sec-note{
	color: #335566;
}

#sec-note a,.sec>p>a,#a-email {
	font-style: italic;
}

#note-title{
	font-size: 1.1em;
	font-weight: bold;
}

#info-box{
	margin-top: 20px;
	position: relative;
	border: 1px solid #333333;
	margin-bottom: 20px;
}

#python-two-snakes{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width: 50px;
	height: 63px;
}

#h2-python{
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}
#p-quick-facts{
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}
/* About */
#sec-about{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

#about-me h2{
	text-align: center;
	margin-bottom: 20px;
}

#image-container{
	margin-top: 40px;
	box-shadow: 0 0 30px #333333;
/*	border: 2px solid #333333;*/
}
/* END About */
/* END CONTENT */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* Header */
/*	#logo-img {
		background: url('../images/python-logo-generic.svg') no-repeat;
		width: 300px;
		height: 80px;
		margin: 5px 5px 5px 0;
		background-size: contain;
	}*/

	/* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/* Header */
	#logo-img {
		background: url('../images/python-logo-generic.svg') no-repeat;
		width: 270px;
		height: 80px;
		margin: 5px 5px 5px 0;
		background-size: contain;
	}

	/*update new*/
	.navbar-brand{
		padding-top: 25px;

	}
/* About */
#sec-about{
	width: 83%;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/* Header */
	#logo-img {
		background: url('../images/python-logo-generic.svg') no-repeat;
		width: 270px;
		height: 80px;
		margin: 5px 5px 5px 0;
		background-size: contain;
	}

/*update -margin*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: -15px;
}
/*update new*/
.navbar-brand{
	padding-top: 25px;

}
/*  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }*/

  #collapsable-nav a { /* Collapsed nav menu text */
  	font-size: 1.2em;/*1.2em of 18px */
  }

  #collapsable-nav a span { /* Collapsed nav menu glyph */
  	font-size: 1em; /*1em of nav menu text */
  	margin-right: 5px;
  }
/*update by me*/
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, 
.container>.navbar-collapse, .container>.navbar-header {
	margin-right: 0;  /*Reset the margin */
	margin-left: 0;  /* Reset the margin */
/* Add any other desired styles here */
}
/* End Header */

/* About */
#sec-about{
	width: 100%;
}

}